// $blue: #BDD8DD;
// $red: #CAB3AD;
// $green: #CFDFC5;

$main1: #7DA6AC;
$main1-darker: #2F575D;
$main2: #A56653;
$main2-darker: #612B18;
$main3: #E5AE76;
$main3-darker: #92653A;
$line1: #FFFFFF;
$shadow: rgba(128, 128, 128, .8);
$pale: rgba(128, 128, 128, .5);
