@import 'color';

.pomo-control {
    background: $line1;
    outline: none;
    border: none;
    border-radius: 50%;
    // box-shadow: 5px 5px 3px $shadow2;
    cursor: pointer;
    color: $main2;
}

button.pomo-control:active {
    transform: translateX(-50%) translateY(10px);
    width: 180px;
    height: 180px;
    box-shadow: inset 5px 5px 10px $shadow2, inset -5px -5px 10px $shadow2;

}
