@import './color';
@import './frame';

#component-todo {
    @include frame($main1, '../../image/todo-fill.png');
}

.todo-topbar{
    height: 40px;
    margin-right: 30px;
    position: relative;
    box-sizing: border-box;

    nav {
        @import "../../css/nav-spot";
        @import './darker-cover';

        height: 40px;
        width: 40px;
        overflow: show;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        
        .todo-filter {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            border-radius: 10px;
            background-color: $line1;
            padding: 10px;
        }
    }
}

.todo-task__container {
    width: 100%;
    height: calc(100% - 120px);
    position: relative;
    padding-top: 10px;

    ul {
        width: calc(100% - 1px);
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        li {
            width: calc(100% - 10px);
            margin: 20px 0;
            position: relative;
            border-radius: 10px;
            background-color: $line1;
            box-shadow: 5px 5px 8px $shadow; 
        }
    }

    &:after {
        content: "";
        width: 19px;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0;
        background-color: $main1;
    }
}
